@inherits LayoutComponentBase

<NavMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<main class="container">
    @Body
</main>

<footer>
    <div class="footer-content">
        <p>&copy; Copyright @(DateTime.Today.Year) Language Link, All Rights Reserved</p>
    </div>
</footer>
